*{
  margin: 0%;
  padding: 0%;
}
header img{
  width: 40%;
}
header{
  background-color: rgb(67, 113, 114);
}
.nav-item{
  color: black;
  text-decoration: none;
  
}
footer{
  background-color: rgb(53, 52, 52);
}
.inicio{
  text-align: center;
}
.imagenes{
  text-align: center;
  margin-top: 3%;
  font-size: x-large;
}
.container{
  margin: 3%;
}
.col{
  margin-bottom: 2%;
}
.formulario{
  text-align: center;
  padding: 2% ;

  background-color: grey;
}
.card{
  justify-content: center;
  align-items: center;
}