*{
  padding: 0;
  margin: 0;
}
html{
  height: 100%;
}
body{
  background-color: rgb(255, 255, 255) !important;
}
header img{
  width: 40%;
}
.bienvenida{
  text-align: center ;
}
p{
  text-align: center;
}
p iframe{
  margin-top:2%;
}
.row{
  margin-top: 5%;
  height: auto;
}
nav{
  font-size: larger;
}
footer{
  background-color: rgb(52, 52, 52);
  margin-top: auto;
}
footer img{
  width: 120% ;
}

.card{
  margin: 2%;
  width: 50%;
  align-items: center;
  margin-left: 25%;
}
.buscador{
  width: 20%;
  float: right;
  
}
.col{
  margin-bottom: 2% ;
}
.card-title{
  color: black;
  opacity: 70%;
  margin-top: 20%;
}
.container{
  text-align: center;
}
header{
  background-color: rgb(146, 146, 156) ;
}