<div class="inicio">
    <h2>Paises</h2>
  </div>

  <div class="formulario">
    <h2>Formulario de Registro</h2>
    <form action="#" method="post">
        <input type="text" id="nombre" name="nombre" placeholder="Nombre">
        <br><br>
    
        <input type="text" id="apellido" name="apellido" placeholder="Apellido">
        <br><br>
    
        <input type="datetime" id="telefono" name="telefono" placeholder="fecha de nacimiento">
        <br><br>
    
       
        <select id="pais" name="pais" placeholder="Deporte">
            <option value="">Seleccione un pais</option>
            <option value="mexico">Portugal</option>
            <option value="espana">Australia</option>
            <option value="argentina">Argentina</option>
            <option value="colombia">Francia</option>
        </select>
        <br><br>
    
        
        <select id="ciudad" name="ciudad" placeholder="Pais">
            <option value="">Seleccione un deporte</option>
            <option value="ciudad_mexico">Tenis</option>
            <option value="madrid">Natacion</option>
            <option value="buenos_aires">Futbol</option>
            <option value="bogota">Tiro</option>
        </select>
        <br><br>
    
        <!-- Botón de envío -->
        <button type="submit">Enviar</button>
    </form>
  </div>