@{
 ViewData["Title"] = "Deportes";

}
    
    @foreach(Deporte dep in ViewBag.ListaDeportes)
    {
        <p>@dep.Nombre</p>
        <a href='@Url.Action("VerDetalleDeporte")'><img src="@dep.Foto" width = "200px" height = "180px"></a>
    }
    

    
