@{
    ViewData["Title"] = "Deportes";
}

<body>
    @foreach(Deporte dep in ViewBag.ListarDeportes){
        <li>
            <a href='@Url.Action("Detallepais", new{IdDeporte = dep.IdDeporte})'>
                <img src= "@dep.Foto" alt="Foto de @dep.Nombre">
                <p>@dep.Nombre</p>
            </a>
        </li>
    }
</body>