<div class="card mb-3">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Nombre pais</h5>
         <p class="card-text">Info del pais</p>
        </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p class="d-inline-flex gap-1">
        <a href="DetalleDeportista.html" class="btn btn-primary" role="button" data-bs-toggle="button">Mas info</a>
       </div>
  </div>