<div class="inicio">
    <h2>Paises</h2>
</div>
  @foreach(Pais pais in ViewBag.ListaPaises){
    <li>
      <a href='@Url.Action("Detallepais", new{IdPais = pais.IdPais})'>
        <img src= "@pais.Bandera" alt="Foto de @pais.Nombre">
        <p>@pais.Nombre</p>
      </a>
    </li>
  }