<div class="inicio">
    <h2>Paises</h2>
  </div>
  <div class="container text-center">
    <div class="row row-cols-2">
        <div class="col"><a href="Detallepais.html"><img src="portugal.png" alt="" width="100%" height="auto"></a></div>
        <div class="col"><a href="Detallepais.html"><img src="australia.png" alt=""  width="100%" height="auto"></a></div>
        <div class="col"><a href="Detallepais.html"><img src="Argentina.png" alt="" width="100%" height="auto" ></a></div>
        <div class="col"><a href="Detallepais.html"><img src="inglaterra.png" alt=""  width="100%" height="auto"></a></div>
    </div>
  </div>